Repository PortableStudios/figma2theme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add Cam Stark to contributors list in package.json
  package.json
Due: prettier --write

Update workflows to use new branch name
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier --write

Add note about Figma API key under 'Development' section of README
  README.md
Due: prettier --write

Downgrade TypeScript to fix Storybook build issue
  package.json
  yarn.lock
Due: prettier --write

Bump version to 0.5.6
  package.json
Due: prettier --write

refactor: move getFile and getVersions to api.ts
  src/api.ts
  src/generate.ts
  src/import/import-figma.ts
Due: eslint --fix

fix: pass --latest-changes to gh action test.yml
  .github/workflows/test.yml
Due: prettier --write

fix: add --latest-changes to generate chakra & json
  src/index.ts
Due: eslint --fix

fix: missing pass latestChanges to generateJson
  src/index.ts
Due: eslint --fix

Update formatting of code and comments for project consistency
  src/api.ts
  src/generate.ts
Due: eslint --fix

Add date formatting to version titles, render version selection in theme files
  package.json
  src/export/export-chakra.ts
  src/generate.ts
  templates/grids.ts.ejs
  templates/icons.tsx.ejs
  templates/index.ts.ejs
  yarn.lock
Due: eslint --fix, prettier --write

Update dependencies
  .nvmrc
  package.json
  patches/figma-api+1.6.1.patch
  yarn.lock
Due: prettier --write

Bump version to 0.5.7
  package.json
Due: prettier --write

Update dependencies
  .husky/.gitignore
  .nvmrc
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

Update Chakra exporter to no longer delete the output directory
  package.json
  src/generate.ts
Due: eslint --fix, prettier --write

Bump version to 0.5.8
  package.json
Due: prettier --write

Update dependencies
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

Bump version to 0.5.9
  package.json
Due: prettier --write

Update dependencies
  .nvmrc
  package.json
  patches/figma-api+1.7.0.patch
  yarn.lock
Due: prettier --write

Bump version to 0.6.0
  package.json
Due: prettier --write

Bump version to 0.6.1
  package.json
Due: prettier --write

Update dependencies
  package.json
  yarn.lock
Due: prettier --write

Bump version to 0.6.2
  package.json
Due: prettier --write

Bump version to 0.6.3
  package.json
Due: prettier --write

Update dependencies
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
  src/import/import-figma.ts
  yarn.lock
Due: eslint --fix, prettier --write

Bump version to 0.6.4
  package.json
Due: prettier --write

/feat Adds a translation of figma2theme tokens to a workable tailwind config Most of it is now present in the output, barring a few that I'm not quite sure what to do with yet
  src/export/export-tailwind.ts
  src/utils/types.ts
  templates/tailwind.config.js.ejs
Due: eslint --fix

Update dependencies
  .nvmrc
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Bump version to 0.6.5
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: bump version to `0.6.6`
  package.json
Due: prettier --write

chore: update dependencies
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

chore: bump version to `0.6.7`
  package.json
Due: prettier --write

chore: update readme
  README.md
Due: prettier --write

chore: bump version to `0.6.8`
  package.json
Due: prettier --write

chore: bump version to `0.6.9`
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,html,scss,md,yml}
