Repository PortableStudios/figma2theme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,html,scss,md,yml}": "prettier --write"
}

fix take 2
  .github/workflows/test.yml
Due: prettier --write

docs: update readme to use npm package for simpler setup
  README.md
Due: prettier --write

feat: use the latest ui kit file everywhere
  .figma2themerc
  README.md
  src/utils/config.ts
  stories/foundations/Foundations.stories.tsx
  stories/foundations/Typography.stories.tsx
  stories/styles/Typography.stories.tsx
  templates/grids.ts.ejs
  templates/icons.tsx.ejs
  templates/index.ts.ejs
Due: eslint --fix, prettier --write

feat: implement exporting to tailwind theme
  .eslintrc.js
  .github/workflows/test.yml
  .gitignore
  README.md
  package.json
  src/export/export-chakra.ts
  src/export/export-tailwind.ts
  src/export/index.ts
  src/generate.ts
  src/import/import-figma.ts
  src/index.ts
  src/utils/file.ts
  src/utils/types.ts
  templates/chakra-ui/grids.ts.ejs
  templates/chakra-ui/icons.tsx.ejs
  templates/chakra-ui/index.ts.ejs
  templates/tailwind/tailwind.figma2theme.js.ejs
  yarn.lock
Due: eslint --fix, prettier --write

fix missing templates in build folder
  package.json
Due: prettier --write

feat: support and prefer variable fonts over static fonts
  src/export/export-tailwind.ts
Due: eslint --fix

chore: bump version to `0.9.0`
  package.json
Due: prettier --write

remove prettier formatting of the generated file to fix issue with certain workspaces
  src/utils/file.ts
Due: eslint --fix

chore: bump version to `0.9.1`
  package.json
Due: prettier --write

update tailwind theme instructions
  README.md
Due: prettier --write

feat: include component instances when scraping colours
  src/import/import-figma.ts
Due: eslint --fix

feat: force colour and text style names to be valid
  src/export/export-tailwind.ts
  src/import/import-figma.ts
Due: eslint --fix

chore: bump version to `0.9.2`
  package.json
Due: prettier --write

feat: update css variables export to support text styles and more
  .gitignore
  src/export/export-css.ts
  src/generate.ts
  templates/css/theme.css.ejs
Due: eslint --fix

chore: bump version to `0.9.3`
  package.json
Due: prettier --write
