Repository PortableStudios/figma2theme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,html,scss,md,yml}": "prettier --write"
}

chore: update `storybook` to use `webpack` v5
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: ignore text styles that begin with `_`
  src/import/import-figma.ts
Due: eslint --fix

feat: import all colours from figma file not just ones starting with `custom/`
  package.json
  src/import/import-figma.ts
  stories/foundations/Colours.stories.tsx
  stories/foundations/Foundations.stories.tsx
  templates/index.ts.ejs
  yarn.lock
Due: eslint --fix, prettier --write

fix: when exporting chakra text styles replace hardcoded font families with corresponding tokens
  src/export/export-chakra.ts
Due: eslint --fix

feat: add the ability to define font fallbacks in `.figma2themerc`
  .figma2themerc
  src/export/export-chakra.ts
  src/generate.ts
  src/utils/config.ts
Due: eslint --fix

update tests based on change to colour import
  src/import/import-figma.test.ts
Due: eslint --fix

chore: bump version to `0.7.0`
  package.json
Due: prettier --write

✨ feat: adding preinstall script
  package.json
  preinstall.sh
Due: prettier --write

✨ feat: adding check for global config file
  src/utils/config.ts
Due: eslint --fix

chore: update dependencies
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

chore: add storybook testing to ci
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --write

chore: bump version to `0.7.1`
  package.json
Due: prettier --write

✨ feat: switching from color-convert to colorjs.io and adding style-dictionary
  package.json
  yarn.lock
Due: prettier --write

✨ feat: switch to using colorjs.io
  src/import/import-figma.ts
  src/utils/testing/figma.ts
Due: eslint --fix

✨ feat: updating tokens to match design token format module spec
  src/export/export-chakra.ts
  src/import/import-figma.test.ts
  src/import/import-figma.ts
  src/utils/convertDesignTokenToCss.ts
  src/utils/types.ts
Due: eslint --fix

✨ feat: adding css generator
  src/export/export-css.ts
  src/export/index.ts
  src/generate.ts
  src/index.ts
Due: eslint --fix

🐛 fix: rolling back changes related to PR #340
  package.json
  preinstall.sh
  src/utils/config.ts
Due: eslint --fix, prettier --write

🐛 fix: removing preinstall script, not what we need and not working
  package.json
  preinstall.sh
Due: prettier --write

📝 docs: adding comment about config file priority
  src/utils/config.ts
Due: eslint --fix

📝 docs: adding line to readme about the option to use a global .figma2themerc file
  README.md
Due: prettier --write

🐛 fix: removing ts-ignore and unneeded type check
  src/export/export-chakra.ts
Due: eslint --fix

✂️ refactor: refactoring reshapeDesignTokens function and adding comments to explain what the function does
  src/export/export-chakra.ts
Due: eslint --fix

🧹 chore: updating gitignore file
  .gitignore
Due: none

🐛 fix: removing .figma2themerc
  .gitignore
Due: none

feat: update token types to match new structure
  src/export/export-chakra.ts
  src/import/import-figma.test.ts
  src/import/import-figma.ts
  src/utils/convertDesignTokenToCss.ts
  src/utils/types.ts
Due: eslint --fix

🧹 chore: bump version to 0.8.0
  package.json
Due: prettier --write

🧹 chore: adding myself as a contributor
  package.json
Due: prettier --write

feat(UIKIT-17): update to support new page name "Icons & Media"
  .figma2themerc
  src/import/import-figma.test.ts
  src/import/import-figma.ts
Due: eslint --fix

feat: make the "sizes" page optional
  src/import/import-figma.ts
Due: eslint --fix

chore: bump version to `0.8.1`
  package.json
Due: prettier --write

✨ feat: adding utility classes generator
  src/export/export-utility-classes.ts
  src/export/index.ts
  src/generate.ts
  src/index.ts
Due: eslint --fix

feat: publish to npm as well as github packages
  .github/workflows/publish-to-github.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

fix: adjust npm publish script
  .github/workflows/publish-to-npm.yml
Due: prettier --write

fix: update package name
  package.json
Due: prettier --write

chore: bump version to `0.8.2`
  package.json
Due: prettier --write

fix: use old package name when publishing to github
  .github/workflows/publish-to-github.yml
Due: prettier --write

fix storybook tests hanging in github actions
  .github/workflows/test.yml
Due: prettier --write
